<div class="row">
	<%= link_to 'Все подкатегории', root_url%> / <%=link_to @category.name, category_path(@category.alias)%> / <%= @subcategory.name%>
</div>
<div class="row">
	<div class="col-lg-3">
		<% @properties.each do |property|%>
			<%= property.title%>
			<% value_property_products = ValuePropertyProduct.where(:property_id => property.id)%>
			<%= select_tag "#{property.id}", options_from_collection_for_select(value_property_products, "id", "value") %>
			<br/>
		<% end %>
	</div>
	<div class="col-lg-9">
		<% howelementsinrow = 0%>
		<% @products.each do |product|%>
			<div class="col-lg-4">
				<%= product.name%><br>
				<%= product.price%><br>
				<%= link_to product.alias, product_path(:category => @category.alias, :subcategory => @subcategory.alias, :product => product.alias)%>
			</div>
			<% howelementsinrow += 1%>
			<% if howelementsinrow == 3 && @products.last != product%>
		</div>
		<br>
		<div class="row">
			<% howelementsinrow = 0%>
			<%end%>
		<%end%>
	</div>
</div>