<div class="row">
	<% if @cart_products.empty?%>
		Ваша коризна пуста
	<%else%>
		<div class="col-xs-12">
			<table class="table table-bordered table-hover">
				<tr><th>Название</th><th>Цена</th><th>Количество</th><th>Стоимость</th></tr>
				<% @cart_products.each do |cart_product|%>
				<tr>
					<td><%= cart_product.product.name%></td>
					<td><%= cart_product.product.price%></td>
					<td class="update_qty">
					<%= hidden_field_tag :cart_product_id, cart_product.id%>
					<%= text_field_tag :quantity, cart_product.quantity, :size => 3%></td>
					<td><%= cart_product.total%></td>
				</tr>
				<%end%>
				<tr>
					<td></td><td></td><td>Итого:</td><td><%= @cart.total%></td>
				</tr>	
			</table>
		</div>
	<%end%>
</div>
<script type="text/javascript">
$(document).ready(function(){
  $(".update_qty").change(function(){
	  $(this).find('#quantity').prop("required", false);
		var cartproduct = $(this).find('#cart_product_id').val();
		var qty = $(this).find('#quantity').val();
		if (qty <= 0){
			$(this).find('#quantity').prop("required", true);
		}
		else{
			array = {
			  cart_product_id: cartproduct,
			  quantity: qty
			}
			$.ajax({
				type : "POST",
			  dataType: "json",
			 	url: '/carts/update_qty',
			  data: array,
			  timeout: 2000,
	        success: function(data){  
	        	$('table:first td:last').html(data[1]);  
	        	location.reload([true]);
	        }
			 	});  
			}
	});
});	
</script>