<div class="col-xs-12">
Редактировать товар <%= @product.name%>:
	<%= form_for @product, url: admin_product_path, html: { class: "form-horizontal" }   do |f|%>
		<%= f.hidden_field :id%>
    <% if @product.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@product.errors.count, "ошибки") %> при создание товара:</h2>
      <ul>
      <% @product.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
    <% end %>
    <div class="form-group">
      <label class="col-lg-2 control-label">Название</label>
      <div class="col-lg-5">
        <%= f.text_field :name, :class => "form-control" %>
      </div>
    </div>
    <div class="form-group">
      <label class="col-lg-2 control-label">Цена</label>
      <div class="col-lg-5">
        <%= f.text_field :price, :class => "form-control" %>
      </div>
    </div>
    <div class="form-group">
      <label class="col-lg-2 control-label">Описание</label>
      <div class="col-lg-5">
        <%= f.text_area :body, :size => '70x5', :class => "form-control"%>
      </div>
    </div>
    <div class="form-group">
      <div class="col-lg-offset-2 col-lg-5">  
        <%= f.submit "Редактировать товар #{@product.name}", :class=>"btn btn-success"  %>
      </div>
    </div>
	<%end%>
</div>
<div class="row">
	<%= link_to 'Назад', admin_products_path%>
</div>