<div class="col-xs-12">
Редактировать товар <%= @product.name%>:
	<%= form_for @product, url: admin_product_path, html: { class: "form-horizontal" }   do |f|%>
		<%= f.hidden_field :id%>
    <% if @product.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@product.errors.count, "ошибки") %> при создание товара:</h2>
      <ul>
      <% @product.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
    <% end %>
    <div class="form-group">
      <label class="col-lg-2 control-label">Название</label>
      <div class="col-lg-5">
        <%= f.text_field :name, :class => "form-control" %>
      </div>
    </div>
    <div class="form-group">
      <label class="col-lg-2 control-label">Алиас</label>
      <div class="col-lg-5">
        <%= f.text_field :alias, :class => "form-control" %>
      </div>
    </div>
    <div class="form-group">
      <label class="col-lg-2 control-label">Категория (выберите для удобного поиска подкатегории)</label>
      <div class="col-lg-5">
        <%= select_tag(:category, options_from_collection_for_select(Category.all, "id", "name"), prompt: "Выберите категорию", class: "input-sm form-control")%>
      </div>
    </div>
    <div class="form-group">
      <label class="col-lg-2 control-label">Подкатегория</label>
      <div class="col-lg-5">
        <%= f.collection_select(:subcategory_id, Subcategory.find_all_by_category_id(@product), :id, :name , options ={:prompt => ""}, :class => "input-sm form-control") %>
      </div>
    </div>
    <div class="form-group">
      <label class="col-lg-2 control-label">Цена</label>
      <div class="col-lg-5">
        <%= f.text_field :price, :class => "form-control" %>
      </div>
    </div>
    <div class="form-group">
      <label class="col-lg-2 control-label">Описание</label>
      <div class="col-lg-5">
        <%= f.text_area :body, :size => '70x5', :class => "form-control"%>
      </div>
    </div>
    <div class="form-group">
      <div class="col-lg-offset-2 col-lg-5">  
        <%= f.submit "Редактировать товар #{@product.name}", :class=>"btn btn-success"  %>
      </div>
    </div>
	<%end%>
</div>
<div class="row">
	<%= link_to 'Назад', admin_products_path%>
</div>
<script type="text/javascript">
$(document).ready(function(){
  $("select#category").change(function(){
    var id_value_string = $(this).val();
    if (id_value_string == "") {  
    }
    else {
      $.ajax({
        dataType: "json",
        cache: false,
        url: '/admin_sub_category_update/' + id_value_string,
        timeout: 2000,
        error: function(XMLHttpRequest, errorTextStatus, error){
          alert("Failed to submit : "+ errorTextStatus+" ;"+error);
        },
        success: function(data){  
          $("select#product_subcategory_id option").remove();
          var row = "<option value=\"" + "" + "\">" + "Выберите подкатегорию" + "</option>";
          $(row).appendTo("select#product_subcategory_id");                                         
          $.each(data, function(i, j){             
            var row = "<option value=\"" + j.id + "\">" + j.name + "</option>";   
            $(row).appendTo("select#product_subcategory_id");                     
          });             
        }
      });
    };
  });
});
</script>