<div class="col-xs-12">
Создать товар:
	<%= form_for @product, url: admin_products_path, html: { class: "form-horizontal" }  do |f|%>
    <% if @product.subcategory == nil%>
      <% @properties = Array.new%>
    <%else%>
      <% @properties = @product.subcategory.properties %>  
    <%end%>
    <% if @product.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@product.errors.count, "ошибки") %> при создание товара:</h2>
      <ul>
      <% @product.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
    <% end %>
    <div class="row">
      <div class="col-lg-6">
    		<div class="form-group">
          <label class="col-lg-3 control-label">Название</label>
          <div class="col-lg-9">
            <%= f.text_field :name, :class => "form-control" %>
          </div>
        </div>
        <div class="form-group">
          <label class="col-lg-3 control-label">Алиас</label>
          <div class="col-lg-9">
            <%= f.text_field :alias, :class => "form-control" %>
          </div>
        </div>
        <div class="form-group">
          <label class="col-lg-3 control-label">Категория (выберите для удобного поиска подкатегории)</label>
          <div class="col-lg-9">
            <%= select_tag(:category, options_from_collection_for_select(Category.all, "id", "name"), prompt: "Выберите категорию", class: "input-sm form-control")%>
          </div>
        </div>
        <div class="form-group">
          <label class="col-lg-3 control-label">Подкатегория</label>
          <div class="col-lg-9">
            <%= f.collection_select(:subcategory_id, Subcategory.find_all_by_category_id(@product), :id, :name , options ={:prompt => ""}, :class => "input-sm form-control") %>
          </div>
        </div>
        <div class="form-group">
          <label class="col-lg-3 control-label">Цена</label>
          <div class="col-lg-9">
            <%= f.text_field :price, :class => "form-control" %>
          </div>
        </div>
        <div class="form-group">
          <label class="col-lg-3 control-label">Описание</label>
          <div class="col-lg-9">
            <%= f.text_area :body, :size => '70x5', :class => "form-control"%>
          </div>
        </div>
        <div class="form-group">
          <div class="col-lg-offset-3 col-lg-9">  
            <%= f.submit "Создать товар", :class=>"btn btn-success"  %>
          </div>
        </div>
      </div>
      <div class="col-lg-6">
        <% unless @properties.empty?%>        
          <div id="property">
            <%= render("admin/products/property")%>
          </div>
        <%end%>
      </div>
    </div>
	<%end%>
</div>
<div class="row">
	<%= link_to 'Назад', admin_products_path%>
</div>
<script type="text/javascript">
$(document).ready(function(){
  $("select#category").change(function(){
    var id_value_string = $(this).val();
    if (id_value_string == "") {  
    }
    else {
      $.ajax({
        dataType: "json",
        cache: false,
        url: '/admin_sub_category_update/' + id_value_string,
        timeout: 2000,
        error: function(XMLHttpRequest, errorTextStatus, error){
          alert("Failed to submit : "+ errorTextStatus+" ;"+error);
        },
        success: function(data){  
          $("select#product_subcategory_id option").remove();
          var row = "<option value=\"" + "" + "\">" + "Выберите подкатегорию" + "</option>";
          $(row).appendTo("select#product_subcategory_id");                                         
          $.each(data, function(i, j){             
            var row = "<option value=\"" + j.id + "\">" + j.name + "</option>";   
            $(row).appendTo("select#product_subcategory_id");                     
          });             
        }
      });
    };
  });
});
</script>

<script type="text/javascript">
  $("select#product_subcategory_id").change(function(){
    var id_value_string = $(this).val();
    if (id_value_string == "") {  
    }
    else{
      $.ajax({
        type : 'GET',
        url: /admin_property_update/ + id_value_string,
        dataType : 'script'
      });
    }
    return false;  
  });
</script>