<div class="row">
	<%= link_to 'Все подкатегории', root_url%> / <%=link_to @category.name, category_path(@category.alias)%> / <%= link_to @subcategory.name, subcategory_path(:category => @category.alias, :subcategory => @subcategory.alias)%> / <%= @product.name%>
</div>
<div class="row">
	<%= image_tag("cart.jpg", :class=>"cart") %><%= link_to 'Корзина', carts_path %> <div id="total"><%= render ('carts/cart_price_total')%></div> руб.
</div>
<div class="row">
	<div class="col-lg-6">
		<%= image_tag("tel.jpg", :class=>"imag")%>
	</div>
	<div class="col-lg-6">
		<div itemscope itemtype="http://schema.org/Product">
		  <span itemprop="name"><h1><%= @product.name%></h1></span>
		  <div itemprop="offers" itemscope itemtype="http://schema.org/Offer">
		    <span itemprop="price"><%= @product.price%></span>
		  </div>
		  <%= form_for CartProduct.new, url: add_to_cart_path, remote: true do |f|%>
		  	<%= f.hidden_field :product_id, :value => @product.id%>
		  <div class="row">
			  <div class="col-lg-2">
			  	<%= f.text_field :quantity, :class => "form-control", :value => 1, :size => '1'%>
			  </div>
			  	<%= f.submit "Купить", :class=>"btn btn-success add_to_cart"  %>
		  </div>
		  <% end %>
		  Описания товара:
		  <span itemprop="description">
		  	<%= @product.body%>
		  </span>
		</div>
    <%unless @value_property_products.empty?%>
    <div class="row">
      Характеристики<br>
      <% @value_property_products.each do |value_property_product|%>
        <% if value_property_product.property.subcategories.map(&:id).include?(@subcategory.id)%>
          <%= value_property_product.property.title%> - <%= value_property_product.value%><br>
        <%end%>
      <%end%>
    </div>
    <%end%>
	</div>
</div>

<% unless @comments.empty?%>
  <div class="row">
    Отзывы на товар:
    <% @comments.each do |comment|%>
      <div class="well">
        <%= comment.name%><br>
        <%= comment.body%>
      </div>
    <%end%>
  </div>
<%end%>
<div class="row" id="comment">
  Написать отзыв к товару:
  <%= form_for @comment,remote: true, html: { class: "form-horizontal" }  do |f|%>
    <%= f.hidden_field :product_id, :value => @product.id%>
    <div class="form-group">
      <label class="col-lg-2 control-label">Представтесь</label>
      <div class="col-lg-5">
        <%= f.text_field :name, :class => "form-control" %>
      </div>
    </div>
    <div class="form-group">
      <label class="col-lg-2 control-label">Отзыв о товаре</label>
      <div class="col-lg-5">
        <%= f.text_area :body, :size => '70x5', :class => "form-control" %>
      </div>
    </div>
    <div class="form-group">
      <div class="col-lg-offset-2 col-lg-5">  
        <%= f.submit "Создать товар", :class=>"btn btn-success"  %>
      </div>
    </div>
  <%end%>
</div>
<script type="text/javascript">
$('form:first').submit( function () {
        var cart = $('.cart');
        var imgtodrag = $('.imag').eq(0);
        if (imgtodrag) {
            var imgclone = imgtodrag.clone()
                .offset({
                top: imgtodrag.offset().top,
                left: imgtodrag.offset().left
            })
                .css({
                'opacity': '0.5',
                    'position': 'absolute',
                    'height': '150px',
                    'width': '150px',
                    'z-index': '100'
            })
                .appendTo($('body'))
                .animate({
                'top': cart.offset().top + 10,
                    'left': cart.offset().left + 10,
                    'width': 75,
                    'height': 75
            }, 1000, 'easeInOutExpo');
            
            setTimeout(function () {
                cart.effect("shake", {
                    times: 2
                }, 200);
            }, 1500);

            imgclone.animate({
                'width': 0,
                    'height': 0
            }, function () {
                $(this).detach()
            });
        }
    });
</script>